@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: white;
    --text-color: black;
    --text-faded-color: #9d9d9d;
    --card-background-color: #efefef;
    --input-background-color: white;
    --input-text-color: black;
    --input-border-color: #d1d5db;
    --button-text-color: white;
    --drawer-background-color: #f7f7f7;
    --border-color: #e5e7eb;
    --item-hover-background-color: #e2e8f0;
    --item-selected-background-color: #bfdbfe;
}

.dark {
    --background-color: #1f2937;
    --text-color: white;
    --text-faded-color: #9d9d9d;
    --card-background-color: #464857;
    --input-background-color: #374151;
    --input-text-color: white;
    --input-border-color: #4b5563;
    --button-text-color: white;
    --drawer-background-color: #2d3748;
    --border-color: #4a5568;
    --item-hover-background-color: #4a5568;
    --item-selected-background-color: #6b7280;
}
